# Serverless directories
.serverless

# golang output binary directory
bin

# golang vendor (dependencies) directory
# vendor

# Test binary, build with `go test -c`
*.test
!Dockerfile.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*.log

*.swp
*.swo
*~

secrets.yml
node_modules

web/static/*
!web/static/img
widget/static/
widget/lib/*.js
widget/lib/*.js.map

pkg/db/migrations/postgres/000000_sqlc_fix.sql
pc.env
.aider*
.aicodeprep-gui
fullcode.txt
.env
.DS_Store

coverage_*.out

*.keys
