{{define "scripts"}}
{{template "default-scripts.html" .}}
<script defer src="{{$.Ctx.CDN}}/widget/js/privatecaptcha.js" type="text/javascript" charset="utf-8"></script>
<script>
    function onCaptchaSolved() {
        var submitButton = document.querySelector('#loginSubmit');
        if (submitButton) {
            submitButton.disabled = false;
        }
    }

    function resendTimer() {
        return {
            countdown: 25,
            canResend: false,
            init() {
                const interval = setInterval(() => {
                    this.countdown--;
                    if (this.countdown <= 0) {
                        clearInterval(interval);
                        this.canResend = true;
                    }
                }, 1000);
            }
        }
    }
</script>
{{end}}
