{{define "footer-signed-out"}}
<section class="py-6 bg-pcpalegreen">
    <div class="px-4 mx-auto sm:px-6 lg:px-8 max-w-7xl">
        <div class="text-center xl:flex xl:items-center xl:justify-between xl:text-left">
            <div class="xl:flex xl:items-center xl:justify-start">
                <p class="w-auto mx-auto mt-5 text-sm text-pcgray-900 xl:mt-0">© Copyright {{.Ctx.CurrentYear}} Private Captcha {{if not $.Platform.Enterprise}}<span class="text-pcgray-500">(Community Edition)</span>{{end}}</p>
            </div>
            <div class="items-center mt-8 xl:mt-0 xl:flex xl:justify-end xl:space-x-8">
                <ul class="flex flex-wrap items-center justify-center gap-x-8 gap-y-3 xl:justify-end">
                    <li>
                        <a href="https://privatecaptcha.com/about/" title="" class="text-sm text-pcgray-900 transition-all duration-200 hover:text-opacity-80 focus:text-opacity-80"> About </a>
                    </li>

                    <li>
                        <a href="https://privatecaptcha.com/legal/privacy-end-user/" target="_blank" title="" class="text-sm text-pcgray-900 transition-all duration-200 hover:text-opacity-80 focus:text-opacity-80"> Privacy Policy </a>
                    </li>

                    <li>
                        <a href="https://privatecaptcha.com/legal/terms-and-conditions/" target="_blank" title="" class="text-sm text-pcgray-900 transition-all duration-200 hover:text-opacity-80 focus:text-opacity-80"> Terms & Conditions </a>
                    </li>
                </ul>

                <div class="w-full h-px mt-8 mb-5 xl:w-px xl:m-0 xl:h-6 bg-pcteal-900/20"></div>

                <ul class="flex items-center justify-center space-x-8 xl:justify-end">
                    <li>
                        <a href="https://github.com/PrivateCaptcha/PrivateCaptcha" title="" class="block text-pcgray-900 transition-all duration-200 hover:text-opacity-80 focus:text-opacity-80" target="_blank">
                            <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M12.026 2c-5.509 0-9.974 4.465-9.974 9.974 0 4.406 2.857 8.145 6.821 9.465.499.09.679-.217.679-.481 0-.237-.008-.865-.011-1.696-2.775.602-3.361-1.338-3.361-1.338-.452-1.152-1.107-1.459-1.107-1.459-.905-.619.069-.605.069-.605 1.002.07 1.527 1.028 1.527 1.028.89 1.524 2.336 1.084 2.902.829.091-.645.351-1.085.635-1.334-2.214-.251-4.542-1.107-4.542-4.93 0-1.087.389-1.979 1.024-2.675-.101-.253-.446-1.268.099-2.64 0 0 .837-.269 2.742 1.021a9.582 9.582 0 0 1 2.496-.336 9.554 9.554 0 0 1 2.496.336c1.906-1.291 2.742-1.021 2.742-1.021.545 1.372.203 2.387.099 2.64.64.696 1.024 1.587 1.024 2.675 0 3.833-2.33 4.675-4.552 4.922.355.308.675.916.675 1.846 0 1.334-.012 2.41-.012 2.737 0 .267.178.577.687.479C19.146 20.115 22 16.379 22 11.974 22 6.465 17.535 2 12.026 2z"
                                ></path>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
{{end}}
