services:
  testserver:
    environment:
      PC_CLICKHOUSE_HOST: clickhouse
      PC_CLICKHOUSE_DB: privatecaptcha
      PC_CLICKHOUSE_USER: captchasrv
      PC_CLICKHOUSE_PASSWORD: uwnhNn4YW01
    depends_on:
      clickhouse:
        condition: service_healthy
    networks:
      - test_clickhouse_network

  migration:
    environment:
      PC_CLICKHOUSE_HOST: clickhouse
      PC_CLICKHOUSE_DB: privatecaptcha
      PC_CLICKHOUSE_USER: default
      PC_CLICKHOUSE_PASSWORD: ''
    depends_on:
      clickhouse:
        condition: service_healthy
    networks:
      - test_clickhouse_network

  clickhouse:
    image: clickhouse/clickhouse-server:24.12.6-alpine
    pull_policy: if_not_present
    environment:
      CLICKHOUSE_DB: privatecaptcha
    healthcheck:
      test: wget --no-verbose --tries=1 -O - http://0.0.0.0:8123/?query=SELECT%201 || exit 1
      interval: 3s
      timeout: 3s
      retries: 3
    networks:
      - test_clickhouse_network
    volumes:
      - ./clickhouse-config.xml:/etc/clickhouse-server/config.d/myconfig.xml:ro
      - ./clickhouse-users.xml:/etc/clickhouse-server/users.d/myusers.xml:ro
      - ../pkg/db/migrations/init/clickhouse.sql:/docker-entrypoint-initdb.d/init.sql:ro
      - test_clickhouse_data_volume:/var/lib/clickhouse
      # uncomment for debugging
      # - ./clickhouse-logs:/var/log/clickhouse-server/
    ulimits:
      nofile:
        soft: 262144
        hard: 262144

networks:
  test_clickhouse_network:

volumes:
  test_clickhouse_data_volume:
