STAGE=dev
PC_LOCAL_ADDRESS=localhost:9090
PC_LOCAL_API_KEY=BkdIDPmLPg6MDRbrr1TDLKMkhy
PC_XSRF_KEY=ZBxmMy50E8LyMns3YnN2MvVPNaJc3xtO
PC_PORTAL_BASE_URL=portal.privatecaptcha.local
PC_API_BASE_URL=api.privatecaptcha.local
PC_CDN_BASE_URL=cdn.privatecaptcha.local
PC_ADMIN_EMAIL=admin@privatecaptcha.local
PC_EMAIL_FROM=no-reply@privatecaptcha.local
PC_POSTGRES=postgres://captchasrv:QMS0fJmTHS8Gzq@postgres:5432/privatecaptcha?sslmode=require&search_path=backend
PC_CLICKHOUSE_HOST=clickhouse
PC_CLICKHOUSE_DB=privatecaptcha
PC_CLICKHOUSE_USER=captchasrv
PC_CLICKHOUSE_PASSWORD=uwnhNn4YW01
PC_USER_FINGERPRINT_KEY=ea3ad6863f0ba598c01bb561eda18c24fa72b75629baed833fb92a7fde29a5dd3ce1cbd466e5c0a2762034b43127bb11a4dd86f1c8ea3c24ea70da21f5b2201c
PC_ID_HASH_SALT=hash
PC_REPLY_TO_EMAIL=
PC_API_SALT=salt
PC_RATE_LIMIT_HEADER=
PC_COUNTRY_CODE_HEADER=CDN-RequestCountryCode
SMTP_ENDPOINT=
SMTP_USERNAME=
SMTP_PASSWORD=
