<div class="grid sm:max-w-lg grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
    {{- if .Params.ErrorMessage -}}
    <div class="col-span-full">
        {{ template "error-message.html" .Params.ErrorMessage }}
    </div>
    {{- else if .Params.SuccessMessage -}}
    <div class="col-span-full">
        {{ template "success-message.html" .Params.SuccessMessage }}
    </div>
    {{- end -}}

    <div class="sm:col-span-full">
        <label for="{{ .Const.Name }}" class="pc-internal-form-label" aria-label="User name">Name</label>
        <div class="mt-2 relative">
            {{- if .Params.NameError -}}
            {{template "info-icon-red.html" .}}
            {{- end -}}
            <input type="text" name="{{ .Const.Name }}" {{ if .Params.EditEmail }}disabled{{ end }} maxlength="255" value="{{ .Params.Name }}" class="w-full pc-internal-form-input-base {{ if not .Params.EditEmail }}{{ if .Params.NameError }}pc-form-input-error{{ else }}pc-form-input-normal{{ end }}{{ else }}pc-form-input-disabled{{ end }}" required />
        </div>
        {{- if .Params.NameError -}}
        <p class="pc-form-error-text">{{ .Params.NameError }}</p>
        {{- end -}}
    </div>

    {{ if .Params.EditEmail }}
    <div class="sm:col-span-full">
        <label for="{{ .Const.VerificationCode}}" class="pc-internal-form-label">Verification code (sent to <span class="italic">{{ .Params.TwoFactorEmail }}</span>)</label>
        <div class="mt-2 relative">
            {{- if .Params.TwoFactorError -}}
            {{template "info-icon-red.html" .}}
            {{- end -}}
            <input type="text" name="{{ .Const.VerificationCode }}" placeholder="XXXXXX" class="w-full pc-internal-form-input-base {{ if .Params.TwoFactorError }}pc-form-input-error{{ else }}pc-form-input-normal{{ end }}" pattern="[0-9]{6}" required />
        </div>
        {{- if .Params.TwoFactorError -}}
        <p class="pc-form-error-text">{{ .Params.TwoFactorError }}</p>
        {{- end -}}
    </div>

    <div class="sm:col-span-full">
        <label for="{{ .Const.Email}}" class="pc-internal-form-label">New Email</label>
        <div class="mt-2 relative">
            {{- if .Params.EmailError -}}
            {{template "info-icon-red.html" .}}
            {{- end -}}
            <input type="email" name="{{ .Const.Email }}" maxlength="255" placeholder="{{ .Params.Email }}" class="w-full pc-internal-form-input-base {{ if .Params.EmailError }}pc-form-input-error{{ else }}pc-form-input-normal{{ end }}" required />
        </div>
        {{- if .Params.EmailError -}}
        <p class="pc-form-error-text">{{ .Params.EmailError }}</p>
        {{- end -}}
    </div>
    {{ else }}
    <div class="col-span-full">
        <label class="pc-internal-form-label">Email</label>
        <div class="mt-2 flex items-center gap-x-6">
            <span class="italic">{{ .Params.Email }}</span>
            <a href="#"
                class="pc-form-link"
                hx-target="#general-form"
                hx-post='{{ partsURL .Const.SettingsEndpoint .Const.TabEndpoint .Const.GeneralEndpoint .Const.EmailEndpoint }}'>
                Change
            </a>
        </div>
    </div>
    {{ end }}

    <div class="flex items-start md:col-span-2 gap-x-6">
        <button
            type="submit"
            class="pc-internal-form-button pc-internal-form-button-primary"
            >
            <svg id="general-form-spinner" class="htmx-indicator animate-spin -ml-1 mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
            </svg>
            Save
        </button>
        {{ if .Params.EditEmail }}
        <button type="button" class="pc-internal-form-button pc-internal-form-button-secondary"
            hx-target="#settings"
            hx-get='{{ partsURL .Const.SettingsEndpoint .Const.TabEndpoint .Const.GeneralEndpoint }}'>
            Cancel
        </button>
        {{ end }}
    </div>
</div>
