<div class="space-y-4">
    <div>
        <label for="nameInput" class="pc-form-label"> Full Name </label>
        <div class="mt-2.5 relative">
            {{- if .Params.NameError -}}
            {{template "info-icon-red.html" .}}
            {{- end -}}
            <input type="input" id="nameInput" name="{{ .Const.Name }}" placeholder="Enter your full name" autocomplete="off" class="pc-form-input-base {{ if .Params.NameError }}pc-form-input-error{{ else }}pc-form-input-normal{{ end }}" pattern=".{3,}" required />
        </div>
        {{- if .Params.NameError -}}
        <p class="pc-form-error-text">{{ .Params.NameError }}</p>
        {{- end -}}
    </div>

    <div>
        <label for="emailInput" class="pc-form-label"> Email </label>
        <div class="mt-2.5 relative">
            {{- if .Params.EmailError -}}
            {{template "info-icon-red.html" .}}
            {{- end -}}
            <input type="email" id="emailInput" name="{{ .Const.Email }}" placeholder="Email address" class="pc-form-input-base {{ if .Params.EmailError }}pc-form-input-error{{ else }}pc-form-input-normal{{ end }}" required />
        </div>
        {{- if .Params.EmailError -}}
        <p class="pc-form-error-text">{{ .Params.EmailError }}</p>
        {{- end -}}
    </div>

    <div class="relative flex items-center mt-4">
        <div class="flex items-center h-5">
            <input type="checkbox" name="{{ .Const.Terms }}" id="termsInput" class="pc-form-checkbox" required />
        </div>

        <div class="ml-3 text-base">
            <label for="termsInput" class="pc-form-checkbox-label"> I agree with <a href="https://privatecaptcha.com/legal/terms-and-conditions" target="_blank" title="" class="pc-form-link">Terms & Conditions</a> and <a href="https://privatecaptcha.com/legal/dpa" target="_blank" title="" class="pc-form-link">DPA</a> </label>
        </div>
    </div>

    <div>
        <div class="private-captcha mt-8"
            data-sitekey="{{.Params.CaptchaSitekey}}"
            data-solution-field="{{.Params.CaptchaSolutionField}}"
            data-start-mode="auto"
            data-finished-callback="onCaptchaSolved"
            data-puzzle-endpoint="{{.Params.CaptchaEndpoint}}"
            data-styles="--border-radius: .75rem;"
            {{ if .Params.CaptchaDebug }}data-debug="true"{{ end }}>
        </div>
        {{- if .Params.CaptchaError -}}
        <p class="pc-form-error-text">{{ .Params.CaptchaError }}</p>
        {{- end -}}
    </div>
</div>
<input type="hidden" name="{{ .Const.Token }}" value="{{ .Params.Token }}" />

<button id="registerSubmit" type="submit" class="pc-form-button" disabled >
    <svg id="spinner" class="htmx-indicator animate-spin -ml-1 mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
        <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
    </svg>
    Sign up
</button>
