<div class="space-y-4">
    {{- if .Params.ErrorMessage -}}
    {{ template "error-message.html" .Params.ErrorMessage }}
    {{- else if .Params.WarningMessage -}}
        {{template "warning-message.html" .Params.WarningMessage}}
    {{- end -}}

    <div>
        <label for="{{ .Const.Name }}" class="pc-internal-form-label"> Name </label>
        <div class="mt-2 relative">
            {{- if .Params.NameError -}}
            {{template "info-icon-red.html" .}}
            {{- end -}}
            <input type="text" name="{{ .Const.Name }}" placeholder="My Org" maxlength="255" value="" class="w-full pc-internal-form-input-base {{ if .Params.NameError }}pc-form-input-error{{ else }}pc-form-input-normal{{ end }}" required />
        </div>
        {{- if .Params.NameError -}}
        <p class="pc-form-error-text">{{ .Params.NameError }}</p>
        {{- end -}}
    </div>

</div>

<div class="flex items-center justify-end mt-6 space-x-6">
    <button
        type="reset"
        action="action"
        onclick="window.history.go(-1); return false;"
        class="pc-internal-form-button pc-internal-form-button-secondary"
    >
        Cancel
    </button>

    <button
        type="submit"
        class="pc-internal-form-button {{if $.Platform.Enterprise}}pc-internal-form-button-primary{{else}}pc-internal-form-button-disabled{{end}}"
        {{if not $.Platform.Enterprise}}disabled{{end}}
    >
    <svg id="spinner" class="htmx-indicator animate-spin -ml-1 mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
        <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
    </svg>
        Create
    </button>
</div>
