{{template "base.html" .}}

{{define "title"}}Property{{end}}

{{define "html_class"}}h-full bg-gray-100{{end}}
{{define "body_class"}}h-full min-h-full flex flex-col{{end}}

{{define "footer"}}{{template "footer-signed-in" .}}{{end}}

{{define "header"}}
<div class="bg-pcteal-800 pb-32">
    {{template "header-signed-in" .}}
    <div class="py-10 mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div>
            <nav class="sm:hidden" aria-label="Back">
                <a href="javascript:history.back()" class="flex items-center text-sm font-medium text-gray-400 hover:text-gray-200">
                    <svg class="-ml-1 mr-1 h-5 w-5 flex-shrink-0 text-gray-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z" clip-rule="evenodd" />
                    </svg>
                    Back
                </a>
            </nav>
            <nav class="hidden sm:flex" aria-label="Breadcrumb">
                <ol class="flex items-center space-x-4">
                    <li>
                        <div class="flex">
                            <a href="{{ relURL "/" }}" class="text-sm font-medium text-gray-400 hover:text-gray-200">
                                <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
                                </svg>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="flex items-center">
                            <svg class="h-5 w-5 flex-shrink-0 text-gray-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
                            </svg>
                            <a href="{{ partsURL .Const.OrgEndpoint .Params.Org.ID }}" class="ml-4 text-sm font-medium text-gray-400 hover:text-gray-200">{{ .Params.Org.Name }}</a>
                        </div>
                    </li>
                    <li>
                        <div class="flex items-center">
                            <svg class="h-5 w-5 flex-shrink-0 text-gray-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
                            </svg>
                            <span aria-current="page" class="ml-4 text-sm font-medium text-gray-400">{{ $.Params.Property.Name }}</span>
                        </div>
                    </li>
                </ol>
            </nav>
        </div>
        <div class="mt-2 md:flex md:items-center md:justify-between">
            <div class="min-w-0 flex-1">
                <h2 class="text-2xl font-bold leading-7 text-white sm:truncate sm:text-3xl sm:tracking-tight inline-flex flex-row items-center">{{ $.Params.Property.Name }}
                    <span class="ml-3 inline-flex items-center gap-x-1.5 rounded-md bg-blue-400/10 px-2 py-1 text-xs font-medium text-blue-400 ring-1 inset-ring inset-ring-blue-400/30">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-2.5 h-2.5 fill-blue-400" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M4.083 9h1.946c.089-1.546.383-2.97.837-4.118A6.004 6.004 0 004.083 9zM10 2a8 8 0 100 16 8 8 0 000-16zm0 2c-.076 0-.232.032-.465.262-.238.234-.497.623-.737 1.182-.389.907-.673 2.142-.766 3.556h3.936c-.093-1.414-.377-2.649-.766-3.556-.24-.56-.5-.948-.737-1.182C10.232 4.032 10.076 4 10 4zm3.971 5c-.089-1.546-.383-2.97-.837-4.118A6.004 6.004 0 0115.917 9h-1.946zm-2.003 2H8.032c.093 1.414.377 2.649.766 3.556.24.56.5.948.737 1.182.233.23.389.262.465.262.076 0 .232-.032.465-.262.238-.234.498-.623.737-1.182.389-.907.673-2.142.766-3.556zm1.166 4.118c.454-1.147.748-2.572.837-4.118h1.946a6.004 6.004 0 01-2.783 4.118zm-6.268 0C6.412 13.97 6.118 12.546 6.03 11H4.083a6.004 6.004 0 002.783 4.118z" clip-rule="evenodd" />
                        </svg>
                        {{if $.Params.Property.AllowSubdomains}}*.{{end}}{{$.Params.Property.Domain}}
                    </span>
                    {{if $.Params.Property.AllowLocalhost}} <a href="{{ partsURL $.Const.OrgEndpoint $.Params.Property.OrgID $.Const.PropertyEndpoint $.Params.Property.ID }}?{{ $.Const.Tab }}={{$.Const.SettingsEndpoint}}"
                        class="ml-3 inline-flex items-center rounded-md bg-yellow-400/10 px-2 py-1 text-xs font-medium text-yellow-500 ring-1 ring-inset ring-yellow-400/20">Testing</a>{{end}}
                    <a href="{{ partsURL $.Const.OrgEndpoint $.Params.Property.OrgID $.Const.PropertyEndpoint $.Params.Property.ID }}?{{ $.Const.Tab }}={{$.Const.IntegrationsEndpoint}}"
                        class="ml-3 inline-flex items-center gap-x-1.5 rounded-md bg-pclime-500/10 group-hover:bg-pclime-500/20 px-2 py-1 text-xs font-medium text-pclime-500 ring-1 ring-inset ring-pclime-500/20">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-2.5 h-2.5 fill-pclime-500" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M18 8a6 6 0 01-7.743 5.743L10 14l-1 1-1 1H6v2H2v-4l4.257-4.257A6 6 0 1118 8zm-6-4a1 1 0 100 2 2 2 0 012 2 1 1 0 102 0 4 4 0 00-4-4z" clip-rule="evenodd" />
                        </svg>
                        {{ printf "%.6s" $.Params.Property.Sitekey }}...
                    </a>
                </h2>
            </div>
            <div class="mt-4 flex flex-shrink-0 md:ml-4 md:mt-0">
                <a href="{{ partsURL $.Const.OrgEndpoint $.Params.Property.OrgID $.Const.PropertyEndpoint $.Params.Property.ID }}?{{ $.Const.Tab }}={{$.Const.IntegrationsEndpoint}}"
                    type="button" class="inline-flex items-center rounded-md bg-white/10 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-white/20">Snippet</a>
            </div>
        </div>
    </div>
</div>
{{end}}

{{define "main"}}
<main class='-mt-32 flex flex-1'>
    <div class="mx-auto max-w-7xl px-4 pb-12 sm:px-6 lg:px-8 flex flex-1">
        <div class="rounded-lg bg-white shadow flex flex-1">
            <div class="flex-1 px-12 pt-8 pb-12">
                <div id="property-tabs" hx-on::after-swap="window.privateCaptcha.setup()">
                    {{- if eq .Params.Tab 1 -}}
                    {{template "integrations.html" .}}
                    {{- else if eq .Params.Tab 2 -}}
                    {{template "settings.html" .}}
                    {{- else -}}
                    {{template "reports.html" .}}
                    {{- end -}}
                </div>
            </div>
        </div>
    </div>
</main>
{{end}}
