<div>
    <div class="sm:hidden">
        <label for="tabs" class="sr-only">Select a tab</label>
        <!-- Use an "onChange" listener to redirect the user to the selected tab URL. -->
        <select id="tabs" name="tabs" class="block w-full rounded-md border-gray-300 py-2 pl-3 pr-10 text-base focus:border-pclime-500 focus:outline-none focus:ring-pclime-500 sm:text-sm"
            hx-target="#property-tabs"
            hx-get="{{ partsURL $.Const.OrgEndpoint $.Params.Property.OrgID $.Const.PropertyEndpoint $.Params.Property.ID $.Const.TabEndpoint }}"
            hx-on::config-request="event.detail.path += '/'+this.value"
            hx-swap="innerHTML">
            <option value="{{ $.Const.ReportsEndpoint }}" selected>Reports</option>
            <option value="{{ $.Const.IntegrationsEndpoint }}">Integrations</option>
            <option value="{{ $.Const.SettingsEndpoint }}">Settings</option>
            <option value="{{ $.Const.EventsEndpoint }}">Audit logs</option>
        </select>
    </div>
    <div class="hidden sm:block">
        <div class="border-b border-gray-200">
            <nav class="-mb-px flex space-x-8" aria-label="Tabs">
                <!-- Current: "border-pclime-500 text-pclime-600", Default: "border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700" -->
                <a href="#" class="border-pclime-500 text-pclime-600 whitespace-nowrap border-b-2 py-4 px-1 text-sm font-medium" aria-current="page">Reports</a>
                <a href="#"
                    hx-target="#property-tabs"
                    hx-swap="innerHTML"
                    hx-get="{{ partsURL $.Const.OrgEndpoint $.Params.Property.OrgID $.Const.PropertyEndpoint $.Params.Property.ID $.Const.TabEndpoint $.Const.IntegrationsEndpoint }}"
                    hx-push-url="{{ partsURL $.Const.OrgEndpoint $.Params.Property.OrgID $.Const.PropertyEndpoint $.Params.Property.ID }}?{{ $.Const.Tab }}={{$.Const.IntegrationsEndpoint }}"
                    class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 whitespace-nowrap border-b-2 py-4 px-1 text-sm font-medium">Integrations</a>
                <a href="#"
                    hx-target="#property-tabs"
                    hx-swap="innerHTML"
                    hx-get="{{ partsURL $.Const.OrgEndpoint $.Params.Property.OrgID $.Const.PropertyEndpoint $.Params.Property.ID $.Const.TabEndpoint $.Const.SettingsEndpoint }}"
                    hx-push-url="{{ partsURL $.Const.OrgEndpoint $.Params.Property.OrgID $.Const.PropertyEndpoint $.Params.Property.ID }}?{{ $.Const.Tab }}={{$.Const.SettingsEndpoint }}"
                    class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 whitespace-nowrap border-b-2 py-4 px-1 text-sm font-medium">Settings</a>
                <a href="#"
                    hx-target="#property-tabs"
                    hx-swap="innerHTML"
                    hx-get="{{ partsURL $.Const.OrgEndpoint $.Params.Property.OrgID $.Const.PropertyEndpoint $.Params.Property.ID $.Const.TabEndpoint $.Const.EventsEndpoint }}"
                    hx-push-url="{{ partsURL $.Const.OrgEndpoint $.Params.Property.OrgID $.Const.PropertyEndpoint $.Params.Property.ID }}?{{ $.Const.Tab }}={{$.Const.EventsEndpoint }}"
                    class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 whitespace-nowrap border-b-2 py-4 px-1 text-sm font-medium">Audit logs</a>
            </nav>
        </div>
    </div>
</div>

<div class="overflow-hidden bg-white border border-gray-200 rounded-xl mt-12">
    <div class="px-4 pt-5 sm:px-6 relative z-0" x-data="chartComponent()">
        <div class="flex flex-wrap items-center justify-between">
            <p class="text-base font-bold text-gray-900 lg:order-1">Captcha Requests</p>

            <nav class="flex items-center justify-center mt-4 space-x-1 2xl:order-2 lg:order-3 md:mt-0 lg:mt-4 sm:space-x-2 2xl:mt-0">
                <a href="#" title=""
                    @click="period = '1y'; updateChart()"
                    :class="period == '1y' ? 'text-pclime-600 border-pclime-600' : 'text-gray-500 border-transparent'"
                    class="px-2 py-2 text-xs font-bold transition-all border rounded-md sm:px-4 hover:bg-gray-100 duration-200">
                    12 Months
                </a>

                <a href="#" title=""
                    @click="period = '30d'; updateChart()"
                    :class="period == '30d' ? 'text-pclime-600 border-pclime-600' : 'text-gray-500 border-transparent'"
                    class="px-2 py-2 text-xs font-bold transition-all border rounded-md sm:px-4 hover:bg-gray-100 duration-200">
                    30 Days
                </a>

                <a href="#" title=""
                    @click="period = '7d'; updateChart()"
                    :class="period == '7d' ? 'text-pclime-600 border-pclime-600' : 'text-gray-500 border-transparent'"
                    class="px-2 py-2 text-xs font-bold transition-all border rounded-md sm:px-4 hover:bg-gray-100 duration-200">
                    7 Days
                </a>

                <a href="#" title=""
                    @click="period = '24h'; updateChart()"
                    :class="period == '24h' ? 'text-pclime-600 border-pclime-600' : 'text-gray-500 border-transparent'"
                    class="px-2 py-2 text-xs font-bold transition-all border rounded-md sm:px-4 hover:bg-gray-100 duration-200">
                    24 Hours
                </a>
            </nav>
        </div>

        <div>
            <dl class="mt-5 grid grid-cols-1 gap-5 sm:grid-cols-3">
                <div class="overflow-hidden rounded-lg bg-white px-4 py-5 shadow sm:p-6">
                    <dt class="truncate text-sm font-medium text-gray-500">Challenges Requested</dt>
                    <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900" x-text="challengesRequested"></dd>
                </div>
                <div class="overflow-hidden rounded-lg bg-white px-4 py-5 shadow sm:p-6">
                    <dt class="truncate text-sm font-medium text-gray-500">Challenges Verified</dt>
                    <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900" x-text="challengesVerified"></dd>
                </div>
                <div class="overflow-hidden rounded-lg bg-white px-4 py-5 shadow sm:p-6">
                    <dt class="truncate text-sm font-medium text-gray-500">Challenge Verification Rate</dt>
                    <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900" x-text="csrRate"></dd>
                </div>
            </dl>
        </div>

        <div class="mt-6 min-h-96" id="chart" x-ref="chart"></div>

        <div x-show="isLoading" class="absolute inset-0 flex justify-center items-center z-10">
            <svg id="spinner" class="animate-spin h-10 w-10 text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <circle class="opacity-25 " cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
            </svg>
        </div>
    </div>
</div>
