<div id="move-form" class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-6 sm:flex-1 sm:flex">
    <div class="sm:flex-1 sm:flex sm:items-start">
        <div class="mt-3 text-center sm:mt-0 sm:text-left sm:flex-1">
            <h3 class="text-base font-semibold leading-6 text-gray-900" id="modal-title">Move property</h3>
            <div class="mt-2">
                <div class="space-y-4">
                    <div>
                        <label for="{{ .Const.Org }}" class="pc-internal-form-label"> Organization </label>
                        <div class="mt-2">
                            <select name="{{ .Const.Org }}" class="w-full pc-internal-form-select">
                            {{ range $org := $.Params.Orgs }}
                                {{ if and (eq $org.Level $.Const.OrgLevelOwner) (ne $.Params.Org.ID $org.ID) }}
                                <option value="{{$org.ID}}">{{ $org.Name }}</option>
                                {{ end }}
                            {{ end }}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
    <button type="submit" class="pc-internal-form-button pc-internal-form-button-primary sm:ml-4 sm:w-auto">
        Move
    </button>
    <button type="button" class="pc-internal-form-button pc-internal-form-button-secondary sm:w-auto" @click="moveOpen = false">Cancel</button>
</div>
